form ul
{ 
    margin:0;
} 

.help_message
{
    text-indent:2em;
    margin-top:10px;
    margin-bottom:30px; 
}
.help_message strong
{
    color:Red;
}
 

.two_di_code img
{
    width:120px;
    height:120px;
}

.about_title
{
    color: rgba(0,0,0,0.7);
    margin-left:0px;
}